
@{
    @using WebApplication2.DTO
    ViewData["Title"] = "Welcome";
    @model WebApplication2.DTO.CustomerDTO
}

<h2>@ViewBag.Message</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"/>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 50%;
            margin-bottom: 15px;
        }

        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .input-field {
            width: 50%;
            padding: 10px;
            outline: none;
        }

            .input-field:focus {
                border: 2px solid dodgerblue;
            }

        /* Set a style for the submit button */
        .btn {
            background-color: dodgerblue;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 50%;
            opacity: 0.9;
        }

            .btn:hover {
                opacity: 1;
            }
    </style>
</head>
<body>

    @using (Html.BeginForm("Index","Welcome",FormMethod.Post))
    {
        <h2>Register Form</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            @Html.TextBoxFor(m =>m.CustomerName, new { id = "CustomerName", @class = "form-control", @style = "" })
        </div>

        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            @Html.TextBoxFor(m => m.CustomerEmail, new { id = "CustomerEmail", @class = "form-control", @style = "" })
        </div>

        <div class="input-container">
            <i class="fa fa-user icon"></i>
            @Html.TextBoxFor(m => m.CustomerMobile, new { id = "CustomerMobile", @class = "form-control", @style = "" })
        </div>

        <button type="submit" class="btn">Save</button>
    }



</body>
</html>
